.weekdays {
    width: 100%;

    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        gap: var(--item-gap);
        background-color: var(--bg-color-2);
        border-radius: 1rem;
    }

    &__item {
        width: var(--item-width);
        height: var(--item-height);
        line-height: calc(var(--item-height));
        color: var(--text-color-5);
        padding-left: 1rem;
        user-select: none;
    }
}