@use './styles/mixins';

:root {
    --bg-color-1: hsl(0, 0%, 17%);
    --bg-color-2: hsla(0, 0%, 0%, 0.2);
    --bg-color-3: hsl(0, 0%, 30%);

    --text-color-1: hsl(0, 0%, 95%);
    --text-color-2: hsl(0, 0%, 90%);
    --text-color-3: hsl(0, 0%, 80%);
    --text-color-4: hsl(0, 0%, 70%);
    --text-color-5: hsl(0, 0%, 50%);
    --text-color-6: hsl(0, 0%, 30%);

    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-25: 25px;
    --fs-30: 30px;
    --fs-40: 40px;

    --body-height: calc(100vh - 6rem);

    --calendar-width: clamp(18.75rem, 12.171rem + 35.088vw, 43.75rem);
    --item-gap: calc(var(--calendar-width) * 0.15 / 6);
    --item-width: calc((var(--calendar-width) - var(--item-gap) * 6) / 7);
    --item-height: 4rem;

    --red-border: 1px solid red;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--bg-color-1);
}

menu,
ul,
ol {
    list-style: none;
}